<!doctype html>
<html>
	<head>
		<meta charset='utf8'>
		<title>HoneyComb Critique</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="<%= description %>">
		<meta name="keywords" content="<%= keywords %>">
		<meta name="author" content="<%= author %>">
		
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/preloader/loaders.css">
		
		
		<script src="/js/jquery.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
		

		<script type="text/javascript">
		  WebFont.load({
		 
		    // For google fonts
		    google: {
		      families: ['Droid Sans', 'Droid Serif']
		    }
		    // For early access or custom font
		    custom: {
		        families: ['Nanum Gothic'],
		        urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
		    }
		 
		  });
		</script>
		<style>
			
		body {
			font-family: "Nanum Gothic", sans-serif;
		}
 
		</style>
		
		<script>
			var search_resize = function() {
				var width = $("#search_container").width();
				var button_width = $('#search_btn').width() + parseInt($("#search_btn").css('padding-left')) + parseInt($("#search_btn").css('padding-right'));
				$('#search').css('width', width - button_width - 6.5);
			}
			search_resize();
		</script>
	</head>
	
	<body>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
				      
				      <a class="navbar-brand" href="/">Honeycomb Critique</a>
				    </div>
				</div>
			</nav>
			<div class="row" style="margin-top: 30px; padding-top: 50px;">
				<div class="col-xs-12">
					<p class="head_sub">Search for a Instructor or a Course</p>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-12" id="search_container">
					<div id="search_container">
						<input type="text" id="search" class="form-control" style="display: inline-block;vertical-align: middle;" placeholder="e.g) MATH 1553 or Professor's name">
						
						<button id="search_btn" class="btn btn-default">Search</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="result">
						<div id="preloader" class="slice" style="display: none;"><div data-loader="satellite"></div></div>
						<div id="result">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container" style="line-height:70px;height:70px;vertical-alignment: middle;">
				© 2016 Junghyun Kim 
			</div>
  		</nav>

		<script>
			var prof_list = function() {
				$.ajax({
					url: "/instructor_list_ajax",
					type: "POST",
					data: {search:$('#search').val()},
					success:function(data) {
						$('#preloader').css('display', 'none');
						var content = '<table class="table table-bordered table-striped">';
						data = data.trim();
						var datas = data.split("<br>");
						for(var i=0;i<datas.length - 1;i++) {
							content += "<tr>";
							content += "<td>";
							content += datas[i];
							content += "</td>";
							content += "</tr>";
						}
						content += '</table>';
						$('#result').html(content);
						
						$('#result').css('display', 'block');
					},
					beforeSend:function() {
						$('#preloader').css('display', 'block');
						$('#result').css('display', 'none');
					},
					error: function() {
						$('#preloader').css('display', 'none');
						$('#result').html("Unknown Error has been occured. Please try again.");
					}
				});
			};
			$(document).ready(function() {
				search_resize();
			});
			$(window).resize(function() {
				search_resize();
			});
			$('#search_btn').click(function() {
				prof_list();
			});
			$("#search").keyup(function(e) {
				if (e.which == 13) {
					//enter
					prof_list();
				}
			});
		</script>
	</body>

</html>